<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<form action="/logout" method ="get">
        <h3><button class="btn-primary">Log Out</button></h3>
    </form>

    <form action="/home" method ="get">
            <h3><button class="btn-primary">Home</button></h3>
    </form>
<body>
    <h1>@ViewBag.showone.Title</h1>
    
    
    <h3>Event Coordinator: @ViewBag.showone.CreatedByFirstName</h3>
    
    <h3>Description</h3>
    
    <p>@ViewBag.showone.Description</p>
    
    <h3>Participants</h3>
    
    @foreach (var y in @ViewBag.showone.Participants)
    {
        @y.UserDetail.FirstName
    }
</body>
</html>



